media="all"
.article-list {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}
www.sitepoint.com/media="all"
ol, ul {
    margin-left: 24px;
}
www.sitepoint.com/media="all"
ul, ol {
    margin-left: 0;
}
www.sitepoint.com/media="all"
ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}
www.sitepoint.com/media="all"
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}
www.sitepoint.com/media="all"
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
Inherited from
www.sitepoint.com/media="all"
body {
    background: #f3f3f3;
    color: #262626;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}
