.process:nth-child(1n+2) {
    margin-top: 1em;
}

.red {
	margin-left: 5px;
	background-color: red;
}

.orange {
	margin-left: 30px;
	background-color: orange;
}

.yellow {
	margin-left: 60px;
	background-color: yellow;
}

.green {
	margin-left: 90px;
	background-color: green;
}

.blue {
	margin-left: 120px;
	background-color: blue;
}

.purple {
	margin-left: 150px;
	background-color: purple;
}

.boxed {
	border: 2px solid black;
	width: 172px;
	height: 72px;
	margin-top: 5px;
	margin-right:5px ;
	margin-bottom: 5px;
}
	div:first-child + div { margin-left: 30px; }
	div:first-child + div + div { margin-left: 30px; }
	div:first-child + div +div +div { margin-left: 30px; }

p		{
		text-decoration: bold;
		color: solid black;
}